body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Oswald', sans-serif;
}

.shadows {
  box-shadow: 0 4px 8px 0 rgba(90, 196, 127, 0.2);
  transition: 0.3s;
}

